In [1]:
%load_ext autoreload
%autoreload 2

In [14]:
import pandas as pd

from pygenesis.table import get_tablefile_data

## Download a table(file)

The `get_tablefile_data()` function will download the tablefile as (flat)csv and return the data as pandas DataFrame.

In [15]:
data = get_tablefile_data("61111-0002", table_area=all)

In [10]:
type(data), len(data)

(pandas.core.frame.DataFrame, 22)

In [11]:
data

    2021     Januar  106,3  +1,0  +0,8
0    NaN    Februar  107,0  +1,3  +0,7
1    NaN       M채rz  107,5  +1,7  +0,5
2    NaN      April  108,2  +2,0  +0,7
3    NaN        Mai  108,7  +2,5  +0,5
4    NaN       Juni  109,1  +2,3  +0,4
5    NaN       Juli  110,1  +3,8  +0,9
6    NaN     August  110,1  +3,9     -
7    NaN  September  110,1  +4,1     -
8    NaN    Oktober  110,7  +4,5  +0,5
9    NaN   November  110,5  +5,2  -0,2
10   NaN   Dezember  111,1  +5,3  +0,5
11  2022     Januar  111,5  +4,9  +0,4
12   NaN    Februar  112,5  +5,1  +0,9
13   NaN       M채rz  115,3  +7,3  +2,5
14   NaN      April  116,2  +7,4  +0,8
15   NaN        Mai  117,3  +7,9  +0,9
16   NaN       Juni    ...   ...   ...
17   NaN       Juli    ...   ...   ...
18   NaN     August    ...   ...   ...
19   NaN  September    ...   ...   ...
20   NaN    Oktober    ...   ...   ...
21   NaN   November    ...   ...   ...