In [1]:
%load_ext autoreload
%autoreload 2

In [10]:
from pygenesis.destatis import get_cubefile
from pygenesis.cube import parse_cube, rename_axes

In [3]:
data = get_cubefile({"name": "61111BM002",  "values": "true", "metadata": "true", "additionals": "false"})

D:\git\correlaid\genesis-python\.venv\lib\site-packages\urllib3\connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www-genesis.destatis.de'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [5]:
data.splitlines()[:20]

['* Der Benutzer DEI6I4B3UW der Benutzergruppe DE0142 hat am 19.05.2022 um 11:28:05 diesen Export angestossen.',
 'K;DQ;FACH-SCHL;GHH-ART;GHM-WERTE-JN;GENESIS-VBD;REGIOSTAT;EU-VBD;"mit Werten"',
 'D;61111BM002;GESPERRT;J;N;N;N',
 'K;DQ-ERH;FACH-SCHL',
 'D;61111',
 'K;DQA;NAME;RHF-BSR;RHF-ACHSE',
 'D;DINSG;1;1',
 'D;CC13A2;2;2',
 'D;MONAT;3;3',
 'K;DQZ;NAME;ZI-RHF-BSR;ZI-RHF-ACHSE',
 'D;JAHR;4;4',
 'K;DQI;NAME;ME-NAME;DST;TYP;NKM-STELLEN;GHH-ART;GHM-WERTE-JN',
 'D;PREIS1;2015=100;FEST;PROZENT;1;;N',
 'K;QEI;FACH-SCHL;FACH-SCHL;FACH-SCHL;ZI-WERT;WERT;QUALITAET;GESPERRT;WERT-VERFAELSCHT',
 'D;DG;CC13-01;MONAT01;1991;70.0;e;;0.0',
 'D;DG;CC13-01;MONAT01;1992;72.4;e;;0.0',
 'D;DG;CC13-01;MONAT01;1993;72.5;e;;0.0',
 'D;DG;CC13-01;MONAT01;1994;73.1;e;;0.0',
 'D;DG;CC13-01;MONAT01;1995;74.9;e;;0.0',
 'D;DG;CC13-01;MONAT01;1996;75.0;e;;0.0']

In [6]:
cube = parse_cube(data)

In [7]:
cube

{'DQ':     FACH-SCHL   GHH-ART GHM-WERTE-JN GENESIS-VBD REGIOSTAT EU-VBD
 0  61111BM002  GESPERRT            J           N         N      N,
 'DQ-ERH':   FACH-SCHL
 0     61111,
 'DQA':      NAME RHF-BSR RHF-ACHSE
 0   DINSG       1         1
 1  CC13A2       2         2
 2   MONAT       3         3,
 'DQZ':    NAME ZI-RHF-BSR ZI-RHF-ACHSE
 0  JAHR          4            4,
 'DQI':      NAME   ME-NAME   DST      TYP NKM-STELLEN GHH-ART GHM-WERTE-JN
 0  PREIS1  2015=100  FEST  PROZENT           1                    N,
 'QEI':      FACH-SCHL-1 FACH-SCHL-2 FACH-SCHL-3 ZI-WERT   WERT QUALITAET GESPERRT  \
 0             DG     CC13-01     MONAT01    1991   70.0         e
 1             DG     CC13-01     MONAT01    1992   72.4         e
 2             DG     CC13-01     MONAT01    1993   72.5         e
 3             DG     CC13-01     MONAT01    1994   73.1         e
 4             DG     CC13-01     MONAT01    1995   74.9         e
 ...          ...         ...         ...     ...    ...       ...      ...
 4507          DG     CC13-12     MONAT12    2017  102.0         e
 4508          DG     CC13-12     MONAT12    2018  104.1         e
 4509          DG     CC13-12     MONAT12    2019  106.8         e
 4510          DG     CC13-12     MONAT12    2020  108.3         e
 4511          DG     CC13-12     MONAT12    2021  112.6         e

      WERT-VERFAELSCHT
 0                 0.0
 1                 0.0
 2                 0.0
 3                 0.0
 4                 0.0
 ...               ...
 4507              0.0
 4508              0.0
 4509              0.0
 4510              0.0
 4511              0.0

 [4512 rows x 8 columns]}

In [8]:
cube["QEI"]

,FACH-SCHL-1,FACH-SCHL-2,FACH-SCHL-3,ZI-WERT,WERT,QUALITAET,GESPERRT,WERT-VERFAELSCHT
0,DG,CC13-01,MONAT01,1991,70.0,e,,0.0
1,DG,CC13-01,MONAT01,1992,72.4,e,,0.0
2,DG,CC13-01,MONAT01,1993,72.5,e,,0.0
3,DG,CC13-01,MONAT01,1994,73.1,e,,0.0
4,DG,CC13-01,MONAT01,1995,74.9,e,,0.0
...,...,...,...,...,...,...,...,...
4507,DG,CC13-12,MONAT12,2017,102.0,e,,0.0
4508,DG,CC13-12,MONAT12,2018,104.1,e,,0.0
4509,DG,CC13-12,MONAT12,2019,106.8,e,,0.0
4510,DG,CC13-12,MONAT12,2020,108.3,e,,0.0
4511,DG,CC13-12,MONAT12,2021,112.6,e,,0.0

In [9]:
cube["DQA"]

     NAME RHF-BSR RHF-ACHSE
0   DINSG       1         1
1  CC13A2       2         2
2   MONAT       3         3

In [11]:
rename_axes(cube)

     DINSG   CC13A2    MONAT  JAHR PREIS1 QUALITAET GESPERRT WERT-VERFAELSCHT
0       DG  CC13-01  MONAT01  1991   70.0         e                       0.0
1       DG  CC13-01  MONAT01  1992   72.4         e                       0.0
2       DG  CC13-01  MONAT01  1993   72.5         e                       0.0
3       DG  CC13-01  MONAT01  1994   73.1         e                       0.0
4       DG  CC13-01  MONAT01  1995   74.9         e                       0.0
...    ...      ...      ...   ...    ...       ...      ...              ...
4507    DG  CC13-12  MONAT12  2017  102.0         e                       0.0
4508    DG  CC13-12  MONAT12  2018  104.1         e                       0.0
4509    DG  CC13-12  MONAT12  2019  106.8         e                       0.0
4510    DG  CC13-12  MONAT12  2020  108.3         e                       0.0
4511    DG  CC13-12  MONAT12  2021  112.6         e                       0.0

[4512 rows x 8 columns]